/************************************
activity
************************************/

.content .body .organization {
  font-weight: 700;
  font-size: 16px;
}

.content .body .course {
  padding-left: 10px;
  margin-top: -5px;
  font-size: 14px;
}

.content .body .course-date {
  font-style: italic;
  font-size: 14px;
}